<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="navigation" class="header">
        <div class="navbar">
            <div class="container">
                <a href="../index.html" class="brand">
                    <h1>莫里亞蒂犯罪推理事務所</h1>
                </a>
                <ul id="popup" class="popup nav popup__menu">
                    <div class="popup__nav popup__nav--close">
                        <a href="#!" class="popup__btn">
                            <i class="fa-solid fa-bars"></i>
                        </a>
                    </div>
                    <li class="nav__item">
                        <a href="senarios.html" class="nav__link">劇本探索</a>
                    </li>
                    <li class="nav__item">
                        <a href="news.html" class="nav__link">最新消息</a>
                    </li>
                    <li class="nav__item">
                        <a href="contact.html" class="nav__link">聯絡我們</a>
                    </li>
                    <li class="nav__item">
                        <a href="question.html" class="nav__link">常見問題</a>
                    </li>
                    <li class="nav__item">
                        <a href="order-select.html" class="nav__link nav__link--order">訂單查詢</a>
                    </li>
                </ul>
                <div class="popup__nav">
                    <a href="#!" class="popup__btn">
                        <i class="fa-solid fa-bars"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>